/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {

}

.AnchorPane {
    -fx-background-color: #85c1e9;
}

.label {

    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.label_erreur {

    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: darkred;
    -fx-opacity: 0.6;
}

.label_erreur_general {

    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: darkred;
    -fx-opacity: 0.6;
}

.titre {

    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-style: italic;
}

.text-field {

    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #f6f6f6;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:pressed, .button:default:hover:pressed {

    -fx-text-fill: #1d1d1d;
}

.button:disabled, .button:default:disabled {

    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {

    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default {

    -fx-background-color: derive(-fx-focus-color, 30%);
}

#bt_connexion {

    -fx-background-color: #0099ff;
    -fx-background-radius: 4;
    -fx-pref-height: 45;
    -fx-pref-width: 150;
}
#bt_connexion:hover{

    -fx-background-color: #0081d7;
}

.bt_normal {

    -fx-background-color: #999999;
}
.bt_normal:hover {

    -fx-background-color: #8b8b8b;
}

.bt_suppression {

    -fx-background-color: #cc0000;
}
.bt_suppression:hover {

    -fx-background-color: #9D0000;
}

.bt_rechercher {

    -fx-background-color: #339933;
}
.bt_rechercher:hover{

    -fx-background-color: #297A29;
}

.bt_pause {

    -fx-background-color: #e6ac00;
}
.bt_pause:hover {

    -fx-background-color: #cb9800;
}